.form {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: calc(100% - 20px);
    max-width: 620px;
    padding: 58px 105px 42px;
    margin: 0 auto;
    z-index: 1000;
    opacity: 0;
    transition: 0.2s ease-in-out;
    @media(max-height: 860px) {
        overflow-y: scroll;
        height: 90vh;
    }
    

    
    &__cross {
        position: absolute;
        top: 24px;
        right: 24px;
    }
    // &__inner {
    //     width: 100%;
    //     padding: 58px 105px 42px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     background: #FFFFFF;
    //     box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    //     border-radius: 20px;
    // }
    &__header {
        text-align: center;
    }
    &__content {
        width: 100%;
        max-width: 410px;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__checkbox {

        margin-top: 26px;
        display: flex;
        flex-direction: row;
        gap: 16px;
        input {
            border: 1px solid #333333;
            border-radius: 3px;
            width: 20px;
            height: 20px;
        }
        P {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__btn {
        margin: 0 auto;
        margin-top: 25px;

    }
}
.inputs {
    
    &__input {
        padding-left: 30px;
        height: 46px;
        background: #F8F7F7;
        border-radius: 30px;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: rgba(51, 51, 51, 0.4);
    }
    &__txt-area {
        padding-top: 20px;
        padding-left: 30px;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        background: #F8F7F7;
        border-radius: 30px;
    }
}

.custom-fields-form.form-vertical {
    padding: unset;
    margin-top: 32px;
}
.oko-form-control.required {
    border-radius: 30px;
    background-color: #F8F7F7;   
}
.custom-fields-form-button355 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $green;
    height: 39px;
    min-width: 154px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 800;
    font-size: 10px;
}

@media(max-width: 600px) {
    .form {
        padding: 58px 35px 42px;
    }
}