.gallery {
    padding: 142px 0 100px;
    background-color: #F1F1F1;
    position: relative;
    &__title {
        position: relative;
        width: 100%;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        &::before {
            content: "Фотогалерея";
            position: absolute;
            top: -44px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 800;
            font-size: 12px;
            line-height: 17px;
            text-transform: uppercase;
            color: rgba(51, 51, 51, 0.3);
        }
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -62px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $green;
        }
    }
    &__container {
        
        width: 100%;
        // max-width: 996px;
        overflow-x: hidden;
        margin: 0 auto;
    }
    &__slide {        
        img {
            margin: 0 auto;
            max-height: 577px;
            border-radius: 20px;
        }
    }
}
.gallery-thumbs {
    position: relative;
    margin-top: 42px;
    &__container {
        overflow-x: hidden;
        margin: 0 auto;

        width: 100%;
        max-width: 384px;
    }
    &__wrapper {
        margin: 0 auto;
    }
    &__slide {
        cursor: pointer;
        height: unset !important;
        width: unset !important;
        .gallery-thumbs__pic {
            height: 100%;
            width: 81px;
            max-height: 75px;
            object-fit: cover;
            border-radius: 10px;
            opacity: 0.4;
            &--active {
                opacity: 1;
            }
        }
    }
}

.swiper-button-prev.main-slider__button-prev.gallery__button-prev {
    left: 30%;
    top: unset;
    bottom: 35px;
    display: block !important;
}
.swiper-button-next.main-slider__button-next.gallery__button-next {
    right: 30%;
    top: unset;
    bottom: 35px;
}
.swiper-button-prev.main-slider__button-prev.gallery-thumbs__button-prev {
    left: 30%;
    top: unset;
    margin-top: unset;
    bottom: -55px;
}
.swiper-button-next.main-slider__button-next.gallery-thumbs__button-next {
    right: 30%;
    top: unset;
    margin-top: unset;
    bottom: -55px;
}

@media(max-width:650px) {
    .gallery {
        padding: 92px 0 100px;
    }
}