.reviews {
    padding: 60px 0 76px;
    background-color: $green;
    &__name {
        margin-bottom: 48px;
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 22px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        &::before {
            content: "";
            position: absolute;
            top: -22px;
            left: calc(50% - 12px/2);
            right: 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    &__slider {
        overflow: hidden;
        position: relative;
        padding: 0 102px;
    }
    &__button-prev, &__button-next {
        background-color: #fff;
        background-image: url('../../../assets/img/icons/arrow-left-wh.svg');

    }
    &__slide {
        height: unset !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }
    &__inner {
        min-height: 299px;
        height: 100%;
        padding: 49px 40px 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    &__feedback {
        max-width: 794px;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333333;
    }
    &__reviewer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.main-slider__buttons-wrapper.reviews__buttons-wrapper {
    all: unset;
}
.reviewer {

    &__photo {
        max-width: 62px;
        border-radius: 50%;
    }
    &__name {
        margin-top: 9px;
        font-weight: 800;
        font-size: 14px;
        line-height: 24px;
        color: rgba(51, 51, 51, 0.4);
    }
}

@media(max-width: 768px) {
    .reviews {
        padding-top: 44px;
    }
    .reviews__name {
        margin-bottom: 33px;
    }
    .reviews__slider {
        padding: 0;
        overflow: unset;
    }
    .reviews__inner {
        padding: 49px 20px 20px;
    }
    .reviews__feedback {
        font-weight: 400;
    }
/*     .reviews__button-next, .reviews__button-prev {
        bottom: -50px;
        top: unset !important;
        
    } */
    .main-slider__buttons-wrapper.reviews__buttons-wrapper {
        right: 50% !important;
        bottom: -40px !important;
        transform: translateX(50%);
    }
}